[package]
name = "deno_lint"
version = "0.2.11"
edition = "2018"
description = "lint for deno"
authors = ["the Deno authors"]
license = "MIT"
exclude = [
    "benchmarks/*",
]

[lib]
name = "deno_lint"

[[example]]
name = "dlint"

[dependencies]
log = "0.4.11"
serde = { version = "1.0.117", features = ["derive"] }
serde_json = "1.0.59"
swc_atoms = "0.2.5"
swc_common = "0.10.6"
swc_ecmascript = { version = "0.14.4", features = ["parser", "transforms", "utils", "visit"] }
regex = "1.4.1"
once_cell = "1.5.2"
derive_more = { version = "0.99.11", features = ["display"] }

[dev-dependencies]
anyhow = "1.0.34"
annotate-snippets = { version = "0.9.0", features = ["color"] }
clap = "2.33.1"
env_logger = "0.8.1"
globwalk = "0.8.0"
rayon = "1.5.0"
