[package]
name = "deno_lint"
version = "0.50.0"
edition = "2021"
description = "lint for deno"
authors = ["the Deno authors"]
license = "MIT"
repository = "https://github.com/denoland/deno_lint"
keywords = ["deno", "lint"]
categories = ["development-tools"]
exclude = [
    "benchmarks/*",
]

[lib]
name = "deno_lint"

[[example]]
name = "dlint"
required-features = ["docs"]
test = true

[features]
default = []
docs = []

[dependencies]
deno_ast = { version = "0.27.0", features = ["scopes", "transforms", "utils", "visit", "view", "module_specifier"] }
log = "0.4.14"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
regex = "1.5.5"
once_cell = "1.10.0"
derive_more = { version = "0.99.17", features = ["display"] }
anyhow = "1.0.56"
if_chain = "1.0.2"

[dev-dependencies]
ansi_term = "0.12.1"
atty = "0.2.14"
clap = { version = "3", features = ["cargo"] }
env_logger = "0.9.0"
globwalk = "0.8.1"
miette = { version = "4.3.0", features = ["fancy-no-backtrace"] }
os_pipe = "1.0.1"
pulldown-cmark = "0.9.1"
rayon = "1.5.1"
console_static_text = "0.8.1"
