[package]
name = "deno_lint"
version = "0.1.24"
edition = "2018"
description = "lint for deno"
authors = ["the Deno authors"]
license = "MIT"
exclude = [
    "benchmarks/*",
]

[lib]
name = "deno_lint"

[[example]]
name = "dlint"

[features]
# Adds ability to Serialize LintDiagnostic
json = ["serde", "serde_json"]

[dependencies]
lazy_static = "1.4.0"
log = "0.4.11"
serde = { version = "1.0.88", features = ["derive"], optional = true }
serde_json = { version = "1.0", optional = true }
swc_common = "=0.9.1"
swc_ecmascript = { version = "=0.5.0", features = ["parser", "transforms", "utils", "visit"] }
regex = "1.3.9"

[dev-dependencies]
clap = "2.33.1"
env_logger = "0.7.1"
termcolor = "1.1.0"

[patch.crates-io]
swc_common = { path = "../issues/common" }
swc_ecmascript = { path = "../issues/ecmascript" }
