[package]
name = "deno_lint"
version = "0.1.9"
edition = "2018"
description = "lint for deno"
authors = ["the Deno authors"]
license = "MIT"
exclude = [
    "benchmarks/*",
]

[lib]
name = "deno_lint"

[[example]]
name = "dlint"

[dependencies]
lazy_static = "1.4.0"
swc_atoms = "0.2.2"
swc_common = { version = "=0.5.12" }
swc_ecma_ast = { version = "=0.20.0" }
swc_ecma_parser = { version = "=0.24.5" }
swc_ecma_visit = { version = "=0.5.1" }
regex = "1.3.6"

[dev-dependencies]
clap = { version = "2.33.1" }
termcolor = "1.1.0"